<li<% if(page=="/"){%> class="active"<%}%>><a href="/<%= lang %>/">Esileht</a></li>

<li<% if(page=="/projects" || page=="/project" || page=="/payment"){%> class="active"<%}%>><a href="/<%= lang %>/projects">Makselahendused</a></li>

<li<% if(page=="/info"){%> class="active"<%}%>><a href="/<%= lang %>/info">Info</a></li>

<li<% if(page=="/api" || page=="/api" || page=="/api"){%> class="active"<%}%>><a href="/<%= lang %>/api">API</a></li>

<li<% if(page=="/docs"){%> class="active"<%}%>><a href="/<%= lang %>/docs/ui-tests">UI automaattestid</a></li>